# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec
!MirrorLAN.spec
build/
dist/

# IDE / editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
*.tmp
